body
{
    margin: 0;
}

.page_header_case  /*navigation*/
{
    position: sticky;
    top: 0px;
    background-color: #FFF;
    z-index: 1;
}

.page_header
{
    margin: 0 460px;
    padding: 0 20px;
    font: 300 19px/1em Georgia, serif;
    display: flex;
    height: 50px;
}

.nav
{
    padding: 15px 21px 0 5px;
    display: inline-block;
    text-decoration: none;
    background-color: #FFF;
    color: #333;
}

.nav:hover
{
    color: #FFF;
    background-color: #45C3AA;
}

.icon_vita
{
    content: url("../images/icons/about_me_icon.png");
    margin: 2px 5px 0 16px;
}

.icon_hobby
{
    content: url("../images/icons/hobby_icon.png");
    margin: 3px 5px 0 15px;
}

.icon_film
{
    content: url("../images/icons/video_icon.png");
    margin: 2px 6px 0 14px;  
}

.nav:hover .icon_vita,
.nav:hover .icon_hobby,
.nav:hover .icon_film
{
    filter: brightness(0) invert(1);
}


.background_img
{
    position: absolute;
    z-index: -1;
}

.case_top
{
    width: 960px;
    margin: 0 auto;
    padding-left: 17px;
}


.above
{
    display: flex;
    height: 240px;
    margin-top: 160px;
}

.lower
{
    display: flex;
}

.left_case_lower
{
    height: 350px;
    width: 330px; 
    margin-top: 0;
}

.right_case
{
    width: auto;
}

.left_top_case
{
    padding-top: 50px;
    height: 350px;
    margin: 0;
}

.left_down_case
{
    margin-top: 160px;
}

.right_top_case
{
    width: 630px;
    height: 240px;
}

.right_top_case:hover .quote
{
    opacity: 1;
}

.right_down_case
{
    width: 570px;
    margin: 42px 0 0 60px;
}


.photo_pos
{
    border-radius: 4px;
    height: 350px;
    width: 330px;
}

.list_tit_ul,
.list_tit_ol
{
    display: block;
    width: 330px;
    color: #45C3AA;
    font: 600 24px/1em Open Sans, sans-serif;
    font-stretch: normal;
    margin: 49px 0 0 0; 
}

.list_tit_ol
{
    margin-top: 46px;
}

.ul_text,
.ol_text
{
    width: 309px;
    color: #555;
    margin: 16px 0 0 0;
    padding: 0 0 0 20px;
    font: 19px/1.9 Georgia, serif;
}

.ol_text
{
    margin-top: 15px;
}

.div_quote
{
    padding: 50px 0 0 60px; 
    height: 190px;
}

.text_quote
{   
    max-height: 114px;
    margin: 25px 0 0 1px;
    font: italic 500 28px/42px Georgia, serif;
    color: #FFF;
}

.quote
{
    margin: 6px 0 0 3px;
    position: absolute;
    opacity: 0;
}

.sign
{   
    max-height: 16px;
    display: block;
    color: #FFF;    
    margin: 15px 0 0 5px;
    font: 600 16px/1em Open Sans, sans-serif;
}

.head_name
{
    color: #333;
    font: 700 48px/1em Open Sans, sans-serif;
    margin: 0 0 0 4px;
}

.line
{
    display: block;
    margin: 28px 0 0 0;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background: #45C3AA;
}

.vita  /*Биография*/ 
{
    color: #555;
    font: 500 19px/1.7 Georgia, serif;
    margin: 43px 0 0 0;
}

.hobby
{
    color: #555;
    font: 500 19px/1.7 Georgia, serif;
    margin: 5px 0 0 0;
}

.head_hobby
{
    display: block;
    color: #333;
    margin: -22px 0 0 0; /*Отрицаиельный margin-top для ссылки-якоря*/ 
    padding-top: 55px;
    font: 500 36px/1.7 Open Sans, sans-serif; 
}

.link
{
    color: #45C3AA;
    font: 500 19px/1.7 Georgia, serif;
    text-decoration: none;
    border-bottom: 1px #45C3AA solid;
}

.link_vk
{
    color: #45C3AA;
    display: block;
    margin: 41px 0 0 0;
    text-decoration: none;
}

.link_vk:hover .link,
.link_vk:hover
{
    color: #098D71;
}

.link_vk:hover .link
{
    border-bottom: 1px #098D71 solid;
}

.favorite_films_case,
.favorite_films_case_head
{
    margin: 97px auto 55px auto;
    padding-left: 16px;
    width: 1200px;
    letter-spacing: 0.1px;
}

.favorite_films_case_head
{
    color: #333;
    font: 500 36px/1em Open Sans, sans-serif;
    margin: -55px 0 0 0; /*Отрицаиельный margin-top для ссылки-якоря*/ 
    padding-top: 55px;
    padding-left: 0;
}

.favorite_films
{
    margin: 36px 0 0 0; 
    display: flex;
}

.film,
.film_image
{
    margin-right: 20px;
    width: 285px;
    font: 500 16px/1.8 Georgia, serif;
}

.film_description
{
    margin: 0;
    letter-spacing: 0.15px;
    word-spacing: 0.2px;
}

.film_image
{   
    background-color: #464646;
    overflow: hidden;
    height: 190px;
    margin: 0;
    border-radius: 5px;
}

.film_head
{
    width: 285px;
    display: block;
    margin: 23px 0 15px -2px;
    font: 600 22px/1.5 Open Sans, sans-serif;
    letter-spacing: 0.5px;
}

.film_name
{
    margin-left: 0; 
}

.button_case
{
    padding: 0 4px 60px 0; 
}

.button_all_films
{
    display: block;
    text-decoration: none;
    margin: 0 auto; 
    background-color: #45C3AA;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font: 19px/48px Georgia, serif;
    color: #FFF;
}

.button_all_films:hover
{
    background-color: #098D71;
}

.link_text
{
    text-align: center;
    margin: 15px 0 0 0;
    font: 19px/1em Georgia, serif;
    color: #FFF;
}

.footer
{
    color: #555;
    margin: 0;
    padding: 27px 0;
    background-color: #F5F5F5;
    font: 500 16px/1em Georgia, serif;
    text-align: center;
    letter-spacing: 0.07px;
    word-spacing: 0.1px;
}