body
{
    margin: 0;
}

/*---------------- МЕНЮ --------------*/

.page_header_case  /*navigation*/
{
    position: sticky;
    top: 0px;
    background-color: #FFF;
    z-index: 1;
}

.page_header
{
    margin: 0 auto;
    width: 943px;
    padding: 0 20px;
    font: 300 19px/1em Georgia, serif;
    display: flex;
    height: 50px;
}

.nav
{
    padding: 15px 21px 0 5px;
    display: inline-block;
    text-decoration: none;
    background-color: #FFF;
    color: #333;
    transition: background-color .3s ease;
}

.nav:hover
{
    color: #FFF;
    background-color: #45C3AA;
}

.icon_vita
{
    content: url("../images/icons/about_me_icon.png");
    margin: 2px 5px 0 16px;
}

.icon_hobby
{
    content: url("../images/icons/hobby_icon.png");
    margin: 3px 5px 0 15px;
}

.icon_film
{
    content: url("../images/icons/video_icon.png");
    margin: 2px 6px 0 14px; 
}

.nav:hover .icon_vita,
.nav:hover .icon_hobby,
.nav:hover .icon_film
{
    filter: brightness(0) invert(1);
}

/*---------------- ФОН КАРТИНКА --------------*/

.background_img_case
{
    position: absolute;
    z-index: -1;
    width: 100%;
}

.background_img
{
    z-index: -1;
    width: 1903px;
    margin: 0 auto;
    display: block;
}

/*---------------- БИОГРАФИЯ --------------*/

.case_top
{
    width: 960px;
    margin: 0 auto;
    padding-left: 17px;
}


.above
{
    display: flex;
    height: 240px;
    margin-top: 160px;
}

.lower
{
    display: flex;
}

.left_case_lower
{
    height: 350px;
    width: 330px; 
    margin-top: 0;
}

.right_case
{
    width: auto;
}

.left_top_case
{
    padding-top: 50px;
    height: 350px;
    margin: 0;
}

.left_down_case
{
    margin-top: 160px;
}

.right_top_case
{
    width: 630px;
    height: 240px;
}

.right_top_case:hover .quote
{   
    opacity: 1;
    transition: .25s opacity;
}

.right_down_case
{
    width: 570px;
    margin: 42px 0 0 60px;
}


.photo_pos
{
    border-radius: 4px;
    height: 350px;
    width: 330px;
}

.list_title
{
    display: block;
    width: 330px;
    color: #45C3AA;
    font: 600 24px/1em Open Sans, sans-serif;
    font-stretch: normal;
    margin: 49px 0 0 0; 
}

.list_title_ol
{
    margin-top: 46px;
}

.list_text
{
    width: 309px;
    color: #555;
    margin: 16px 0 0 0;
    padding: 0 0 0 20px;
    font: 19px/1.9 Georgia, serif;
}

.ol_list_text
{
    margin-top: 15px;
}

.div_quote
{
    padding: 50px 0 0 60px; 
    height: 190px;
}

.text_quote
{   
    max-height: 114px;
    margin: 25px 0 0 1px;
    font: italic 500 28px/42px Georgia, serif;
    color: #FFF;
}

.quote
{
    margin: 6px 0 0 3px;
    position: absolute;
    opacity: 0;
    transition: .25s opacity;
}

.sign
{   
    max-height: 16px;
    display: block;
    color: #FFF;    
    margin: 15px 0 0 5px;
    font: 600 16px/1em Open Sans, sans-serif;
}

.head_name
{
    color: #333;
    font: 700 48px/1em Open Sans, sans-serif;
    margin: 0 0 0 4px;
}

.line
{
    display: block;
    margin: 28px 0 0 0;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background: #45C3AA;
}

.vita  /*Биография*/ 
{
    color: #555;
    font: 500 19px/1.7 Georgia, serif;
    margin: 43px 0 0 0;
}

.hobby
{
    margin: 5px 0 0 0;
}

.head_hobby
{
    color: #333;
    margin: -22px 0 0 0; /*Отрицаиельный margin-top для ссылки-якоря*/ 
    padding-top: 55px;
    font: 500 36px/1.7 Open Sans, sans-serif; 
}

.link
{
    color: #45C3AA;
    font: 500 19px/1.7 Georgia, serif;
    text-decoration: none;
    border-bottom: 1px #45C3AA solid;
    transition: color .3s ease;
}

.link_vk
{
    color: #45C3AA;
    display: block;
    margin: 41px 0 0 0;
    text-decoration: none;
}

.link_vk:hover .link,
.link_vk:hover
{
    color: #098D71;
}

.link_vk:hover .link
{
    border-bottom: 1px #098D71 solid;
}

/*---------------- ФИЛЬМЫ --------------*/

.favorite_films_case_background
{
    background: linear-gradient(to bottom, #FFF 16px , #F9F9F9 0);
}

.favorite_films_case,
.favorite_films_case_head
{
    margin: 97px auto 55px auto;
    padding-left: 16px;
    width: 1200px;
    letter-spacing: 0.1px;
}

.favorite_films_case_head
{
    color: #333;
    font: 500 36px/1em Open Sans, sans-serif;
    margin: -55px 0 0 0; /*Отрицаиельный margin-top для ссылки-якоря*/ 
    padding: 55px 0 0 0;
}

.favorite_films
{
    margin: 36px 0 0 0; 
    display: flex;
}

.film,
.film_image
{
    margin-right: 20px;
    width: 285px;
    font: 500 16px/1.8 Georgia, serif;
}

.film_description
{
    margin: 0;
    letter-spacing: 0.15px;
    word-spacing: 0.2px;
}

.film_image
{   
    background-color: #464646;
    overflow: hidden;
    height: 190px;
    margin: 0;
    border-radius: 5px;
}

.film_head
{
    width: 285px;
    display: block;
    margin: 23px 0 15px -2px;
    font: 600 22px/1.5 Open Sans, sans-serif;
    letter-spacing: 0.5px;
}

.film_name
{
    margin-left: 0; 
}

.button_case
{
    padding: 0 4px 60px 0; 
}

.button_all_films
{
    display: block;
    text-decoration: none;
    margin: 0 auto; 
    background-color: #45C3AA;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font: 19px/48px Georgia, serif;
    color: #FFF;
    transition: background-color .3s ease;
}

.button_all_films:hover
{
    background-color: #098D71;
    transition: all .3s ease;
}

.link_text
{
    text-align: center;
    margin: 15px 0 0 0;
    font: 19px/1em Georgia, serif;
    color: #FFF;
}

/*---------------- ПОДВАЛ --------------*/

.footer
{
    color: #555;
    margin: 50px 0 0 0;
    padding: 24px 0 30px 0;
    background-color: #F5F5F5;
    font: 500 16px/1em Georgia, serif;
    text-align: center;
    letter-spacing: 0.07px;
    word-spacing: 0.1px;
}


/*---------------- ФОРМА --------------*/

.form_case
{
    width: 700px;
    margin: 48px auto 0 auto;
}

.form_head
{
    height: auto;
    width: auto;
}

.form_body
{
    margin: 77px 0 0 0;
    font: 400 20px/1em Open Sans, sans-serif;
}


.form_header
{
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    font: 300 36px/1em Open Sans, sans-serif; 
}

.form_header:before,
.form_header:after
{
    display: inline-block;
    margin: 0 27px 12px 2px;
    width: 200px;
    content: '';
    top: 50%;
    border-bottom: 1px solid #C4C4C4;
}


.form_header:after
{
    margin-left: 23px;
    margin-right: 0;
}


.form
{
    width: 540px;
    margin: 0 auto;
    padding-left: 16px;
}

.for_input_tag
{
    padding: 10px 8px 12px 18px;
    margin-top: 9px; 
    width: 510px;
    font: 400 18px/1em Open Sans, sans-serif;
    border-radius: 3px;
    border: 2px solid #A6A6A6;
}

.for_input_tag:focus
{
    outline: none;
    border-color: #15A98C;
}

.for_input_tag:hover
{
    border-color: #15A98C;
}

.label_star:after
{
    color: #EE0707;
    content: " *"
}

.for_label_tag
{
    display: block;
    margin-top: 30px; 
}

.label_message
{
    margin-top: 47px;
}

.textarea_message
{
    height: 124px;
    resize: none;
    border-radius: 3px;
    border: 2px solid #A6A6A6;
}


.label_radio_gender
{
    vertical-align: top;
    margin: 8px 36px 0 8px;
    display: inline-block;
    font: 400 18px/1em Open Sans, sans-serif;
}

.input_radio_gender
{
    margin: 12px 0 0 0;
}

.country_head
{
    margin-top: 31px;
}

.label_gender
{
    margin: 47px 0 10px 0;
}

.for_select_tag
{
    height: 50px;
    padding-left: 16px; 
    background: url("../images/arrow_select.png") no-repeat 498px 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-width: 2px;
    width: 540px;
}

.button_send
{
    display: block;
    margin: 47px 0 0 1px;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #45C3AA; 
    color: #FFF;
    font: 19px/1em Georgia, serif;
    border-style: none;
    padding: 0 2px 4px 0;
    cursor: pointer;
    transition: background-color .3s ease;
}

.button_send:hover
{
    background-color: #098D71;
}

.transition
{
    transition: all .3s ease;
}